{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 style="text-align: center" xmlns="http://www.w3.org/1999/html">Register</h1>
    <div style="text-align: center" class="mb-3">
        {{ form_start(registrationForm) }}
        <div class="mb-3"> <h4>{{ form_row(registrationForm.username) }}</h4> </div>
        <div class="mb-3"> <h4>{{ form_row(registrationForm.age) }}</h4> </div>
        <div class="mb-3"> <h4>{{ form_row(registrationForm.pays) }}</h4> </div>
        <div class="mb-3"> <h4>{{ form_row(registrationForm.email) }}</h4> </div>
        <div class="mb-3"> <h4>{{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}</h4>
        </div>
        <button type="submit" class="btn btn-primary" >Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
